.vermelho{
    color: white;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    text-align: center;
}

#cinza{
    color: white;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    text-align: center;

}